body{
    background-color: chocolate;
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input[type="range"]{
    width: 100vw;
    height: 10px;
    -webkit-appearance: none;
    background-color: red;
    border-radius: 8px;
    outline: none;
    margin-top: 60px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background-color: royalblue;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}
.material-icons{
    font-size: 130px;
    color: #3fcad8;
}